<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заявочная Ceph S3 SDS</title>
    <link rel="stylesheet" href="/zayavki/static/css/main.css">
</head>
<body>

    <div class="container" role="main">
        {{template "content" .}}
    </div>

    <script src="/zayavki/static/js/utils.js"></script>
    <script src="/zayavki/static/js/cluster-modal.js"></script>
    <script src="/zayavki/static/js/form-handlers.js"></script>
    <script src="/zayavki/static/js/field-config.js"></script>
    <script src="/zayavki/static/js/validation.js"></script>
    <script src="/zayavki/static/js/main.js"></script>
    <script src="/zayavki/static/js/json-import.js"></script>
    <script src="/zayavki/static/js/display.js"></script>
</body>
</html>

